body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 18px;
}

.italic {
    font-style: italic;
    font-weight: 700;
}

.wrapper {
    width: 400px;
    margin: 30px auto 0 auto;
    text-align: center;
}

#result {
    height: 50px;
    width: 65px;
    font-size: 20px;
    line-height: 50px;
    padding: 20px;
    margin: 20px auto 0 auto;
    text-align: center;
    border-radius: 10%;
    font-weight: 700;
    background-color: #16a085;
    color: #fff;
}

#map {
    height: 500px;
    width: 500px;
    margin: 20px auto;
    display: none;
    border: 1px solid #000;
}

#showTemp {
    margin: 20px auto 0;
    width: 170px;
    padding: 10px;
    min-height: 50px;
    background: #E74C3C;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#showTemp:hover {
    cursor: pointer;
}